a:hover{
  /* cursor: url(https://ani.cursors-4u.net/nature/nat-11/nat1044.ani), url(https://ani.cursors-4u.net/nature/nat-11/nat1039.png), pointer; */
  cursor: url(https://cur.cursors-4u.net/games/gam-4/gam308.cur), auto;
  /* cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat970.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat970.gif), pointer; */
}

span {
  cursor: url(https://cur.cursors-4u.net/symbols/sym-7/sym648.ani), url(https://cur.cursors-4u.net/symbols/sym-7/sym648.gif), auto;
}